*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{    
    background-image: url(/img/wallpaperflare.com_wallpaper\ \(25\).jpg);
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    position: sticky;

}
h1{
    margin-left: 10%;
    color: aliceblue;
    text-shadow: 0px 0px 3px ;
    
}

nav{
    margin-right: 10%;
}
a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: aliceblue;

    
}
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    height: 90vh;
    
}
.home-content{
    width: 60%;
    margin: 1rem;
    margin-top: 8;
}

.home-content h2,h3{
    color: aliceblue;
    margin: 1rem;
   


}
.home-content h2{
    font-size: 65px;
    word-spacing: 1px;
    text-align: center;
}
h3{
    font-size: 40px;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 24ch;
    animation: typing 2s steps(24),
    blink .5s infinite step-end alternate;
    overflow: hidden;
    margin-left: 23%;
    color: aqua;
    
    
}
@keyframes typing{
    from {width: 0;}

}
@keyframes blink{
    50%{ border-color:transparent;}
    
}


.img-lg{
    
    background-color:transparent;
    
}
.img-lg img{
    width: 50%;
    border-radius: 20%;
    margin-left: 25%;
    border: solid ;
    border-color: rgba(240, 248, 255, 0.483);
    box-shadow: 0px 0px 30px;
    

}
.home-sci{
    padding: 7% 35% ;
    margin-left: 2%;
    
}

.redes{
    border: solid;
    border-radius: 50%;
    font-size: 2rem;
}
#Estudy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    height: 100vh;
    
    
}
.listas{
    
    width: 50%;
    padding: 2rem;
    margin-right: 30%;
    color: aliceblue;
    
 
}

h4{
    font-size: 46px;
    margin: 1rem;
    color: aliceblue;
    text-align: center;
    padding: 2rem;
}
.targetas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.leng{
    width: 200px;
    background-color: aliceblue;
    margin: 1rem;
    border-radius: 15px;
    
}
.leng img{
    width: 80%;
    padding: 10%;
    padding-left: 30%;
    z-index: 1;
}
.cursos{
 width: 50%;
 background-color: aliceblue;
 border-radius: 15px;
 margin-left: 25%;
}
.listas {
    margin: 2rem;
    color: black;
}
.listas ul{
 width: 100%;
 margin-left: 10%;
}
.listas ul li{
    padding: 1.5rem;
    font-size: 20px;
    font-weight: bold;
    font-size: 22px;

}
#prototype{
    height: 100vh;
    width: 100%;
    
}
.area-trabajo{
    background-color: aliceblue;
    width: 30%;
    float: left;
    height: 50%;
    border: solid;
    box-shadow: 2px 2px 20px ;
    
    margin:  8% 8%;
    

}
.escritorio{
    text-align: center;
    margin: 3rem;
}
.escritorio img{
    width: 90%;
    margin-top: 1rem;

}
.area-trabajo p{
    font-size: 20px;
    text-align: center;
}
article{
    width: 70%;
    margin-left: 25%;
    
    margin-top: 10%;
    

}
article .lore{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 2;
    
}
header a:hover{
    color: rgb(105, 219, 230);
    transition: 1s;
}
.home-sci a:hover{
    color: rgb(115, 228, 238);
    transition: 1s;
    
    
}
b{
    color: rgba(0, 255, 255, 0.634);
}
@media (max-width :700px){
    header{
        display: flex;
        flex-direction: column;
        height: 15vh;
        background-color: rgba(0, 0, 0, 0.934);
    }
    nav{
        margin: 0;
        padding: 0;
    }
    nav a{
    padding: 10px;
    font-size: 15px;
    }
    h1{
        margin-left: 0;
        padding-top: 15px;
    }
    #home{
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }
    .home-content{
    width: 100%;
    margin: 1rem;
    margin-top: 10%;
    }
.home-content h2,h3{
    margin: 1rem;
    text-align: center;


    }
    .home-content h2{
        font-size: 25px;
        word-spacing: 1px;
    }
    h3{
        font-size: 15px;
        margin-left: 2rem;
    }
    .home-sci{
        padding: 10px ;
        text-align: center;
        margin-top: 2rem;
        
        
    }
    
    .redes{
        border: none;
        border-radius: 50%;
        
    }
    #Estudy{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        height: 130vh;
        width: 100%;
    }
    .listas{
        width: 90%;
        margin: 0;
    }
    
    h4{
        font-size: 20px;
        margin: 0;
        
    }
    .targetas{
        display: flex;
        flex-direction: column;
        align-items: center;   
    }
    .targetas h4{
        margin-top: 0;
        padding: 0;
    }
    .leng{
        width: 80px;
        background-color: aliceblue;  
        border-radius: 15px; 
    }
    .leng img{
        width:80%;
        margin: 0; 
    }
    .cursos{
        width:80%; 
        margin: 0;
        padding-right:  25px;
        text-align: center;
    }
    .listas{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .listas ul li{
        font-size: 10px;
        font-weight: bold;
        margin: 0;
        list-style: none;
    }
    #prototype{
        height: 120vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    #prototype h4{
        padding-bottom: 0;
        margin-top: 20%;
    }
    .area-trabajo{
        background-color: aliceblue;
        width: 90%;
        min-height: 40vh;
        border: solid;
        box-shadow: 2px 2px 20px ;
    }
    .escritorio{
        text-align: center;
        margin: 1rem;
    }
    .escritorio img{
        width: 90%;
        margin-top: 1rem;
    
    }
    .area-trabajo p{
        font-size: 15px;
        text-align: center;
    }
    article{
        width: 300px;
        margin: 0;
        padding: 1rem;
        height: 80vh;
        overflow: auto;
    }
    article .lore{
        font-size: 14px;
        
        text-align: center;
        
    }
    footer{
        height: 8vh;
        width: 100%;
        background-color: black;
        
    }
}


    




















footer{
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.234);
    color: aliceblue;
    text-align: center;
}
